* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #1F2937;
    align-items: center;

}

.company-logo {
    color: white;
    font-weight: 900;
    font-size: large;
    font-size: 24px;
}

.nav-links-ul {
    font-size: large;
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.First-section {
    height: 500px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.First-section-Content {
    padding: 0px 20px;
    margin-left: 40px;
}

.First-section-Content h1 {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    max-width: 400px;
}

.First-section-Content p {
    color: #E5E7EB;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 600px;
}

.First-section-Content button {
    font-size: 16px;
    border-radius: 24px;
    border-style: none;
    padding: 6px 20px;
    background-color: dodgerblue;
    color: white;
    width: 100px;
}

.First-section-para {
    color: white;
    height: 200px;
    width: 600px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section {
    height: 450px;
}

.h2 {
    font-size: 36px;
    font-weight: bolder;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
}

.blue-border {
    height: 150px;
    width: 150px;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    margin: 15px auto;

}

.container {
    text-align: center;
    width: 700px;
    display: flex;
    margin: 0px auto;
    gap: 40px;
}

.third-section {
    padding: 100px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.inspiring-thor-width{
    width: 800px;
}

.Inspiring-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.thor {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
}


.fourth-section {
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-width{
    width: 800px;
    background-color: dodgerblue;
    display: flex;
    justify-content: space-around;
    padding: 40px 30px;
    border-radius: 7px;

}
.cta{
    color: white;
    margin-bottom: 2px;
}
.sign{
    color: #E5E7EB;
}
.right-div-button{
    background-color: dodgerblue;
        font-size: 14px;
        font-weight: bolder;
        border-radius: 20px;
        border-style: none;
        border: 1px solid white;
        color: white;
        padding: 6px 20px;
}


