* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #1F2937;
    align-items: center;

}

.company-logo {
    color: white;
    font-weight: 900;
    font-size: large;
    font-size: 24px;
}

.nav-links-ul {
    font-size: large;
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}